.time-control {
  width: 50%;
  display: flex;

  p {
    padding: 1rem;
  }
}
.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 20vh;
}
.play-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  svg {
    cursor: pointer;
  }
}
